package views

import "strconv"

templ Ticket(count int) {
	<div class="ticket">
		if count > 1 {
			{ strconv.Itoa(count) } Available Tickets
		} else if count == 1 {
			{ strconv.Itoa(count) } Available Ticket
		} else {
			No Available Ticket
		}
	</div>
}
